article {
    font-size: 76%;
    line-height: 1.2;
    display: grid;
    grid-template-columns: 100px repeat(3, 80px);
    grid-template-rows: 80px repeat(3, 80px);
    grid-gap: 10px;
    width: 300px;
}

div.col-name {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    background: white;
    font-family: sans-serif;
    font-size: 30px;
    text-align: left;
}

div.circle-pink {
    z-index: 2;
    background: rgba(153, 0, 86, 0.8);;
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
    border-radius: 50%;
}
div.square-yellow {
    z-index: 1;
    background: rgba(255, 255, 0, 1); 
    grid-row: 2 / span 2;
    grid-column: 3 / span 2;
}
div.triangle-green {
    z-index: 2;
    grid-row: 2 / span 2;
    grid-column: 3 / span 2;
    width: 0;
    height: 0;
    border-bottom: 170px solid rgb(0, 102, 51, 0.8);
    border-right: 90px solid transparent;
  }
  div.triangle-blue {
    z-index: 2;
    grid-row: 2 / span 2;
    grid-column: 2 / span 2;
    width: 0;
    height: 0;
    border-bottom: 170px solid rgb(0, 76, 163, 0.8);
    border-left: 90px solid transparent;
  }

div.teste {
    background: tomato;
    height: 100vh;
    clip-path: circle(200px at 0 0);
}


div.circle {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.circle span {
    display: block;
    width: 50vmin;
    height: 50vmin;
    background: #a80657;
    border-radius: 50%;
}

div.square {
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.square span {
    display: block;
    width: 50vmin;
    height: 50vmin;
}
 div.quarter-circle {
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.quarter-circle span {
    width: 50vmin;
    height: 50vmin;
    background: red;
    border-radius: 0 0 50vmin 0;
}

#tri-green {
    width: 0;
    height: 0;
    border-bottom: 70vmin solid green;
    border-right: 50vmin solid transparent;
  }

  #triangle-blue {
    width: 0;
    height: 0;
    border-bottom: 70vmin solid blue;
    border-left: 50vmin solid transparent;
  }
